.product-detail-view {
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.bg-image {
  background-position: center top;
  background-color: gainsboro;
  background-size: contain;
  width: 70%;
  max-height: 300px;
  min-height: 120px;
}
.bg-image img {background-position: center top;

}
@media (max-width: 765px) {
  .bg-image {
    width: initial;
    max-height: 300px;
    height: 300px;
    min-height: 120px;
  }
}
@media (max-width: 470px) {
  .bg-image {
    height: auto;
  }
}
.product-detail-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: rgb(230, 226, 226);
}
.product-detail-flex {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid black;
}
@media (max-width: 765px) {
  .product-detail-flex {
    flex-direction: column;
  }
}
.product-detail-image {
  background-position: center top;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product-detail-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
.section-comprar {
  color: #fff;
  max-height: 32px;
  background: linear-gradient(
    -60deg,
    rgba(226, 244, 255, 0.3) 5%,
    rgba(84, 107, 115, 0.3) 95%
  );
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  align-items: center;
}
.section-btn {
  display: flex;
  position: relative;
  align-items: center;
  top: 40px;
  gap: 16px;
  background-color: #0f0e0e;
  padding: 4px 4px 4px 16px;
  border-radius: 2px;
}
.btn-comprar {
  padding: 6px 10px;
  border: none;
  background-color: #246668;
  color: #fff;
  border-radius: 4px;
}
.btn-comprar:active {
  background-color: #1e5a5c;
  transform: scale(0.98);
}
.btn-añadir-biblioteca {
  padding: 6px 10px;
  background-color: rgb(5, 164, 5);
  border-radius: 4px;
  border: none;
  color: #fff;
}
.btn-añadir-biblioteca:active {
  background-color: green;
  transform: scale(0.98);
}
